
.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .chapter
  {
    margin: 10px;
   
  }



  :root {
    --transition-duration: 1s;
}