.layer3-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: justify; /* Align text to justify */
}

.loading,
.error {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.error {
  color: red;
}

.data {
  margin-top: 20px;
}

.data p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* CSS for button */
.button-container {
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}
.bi{
  cursor: pointer;
}

.button-container button {
  padding: 10px 20px;
  background-color: #0b0b0c; /* Blue background */
  color: #fff; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #7f858a; 
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #dae0e5; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
.doubt-container {
  margin-top: 20px; /* Adjust this margin as needed */
}
