.layer3-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: justify; /* Align text to justify */
}

.loading,
.error {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.error {
  color: red;
}

.data {
  margin-top: 20px;
}

.data p {
  margin-bottom: 10px;
  line-height: 1.5;
}
