.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: min-content;
    min-height: min-content;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .input-field {
    flex: 1;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #0b0b0c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #7f858a;
  }
  
  .message {
    margin-top: 10px;
    font-size: 16px;
  }
  
  
  .error {
    margin-top: 10px;
    font-size: 16px;
    color: #ff0000;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #dae0e5; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  