
@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
.layer-container {
  position: relative;
}

.lesson{
  font-size: 18px;
  font-family: "Caudex", serif;
}


.lessonContent
{
  font-family: "Barlow", sans-serif;
}
.layer2-card-in {
  /*border: 1px solid #ccc;*/
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);*/
  box-shadow: none;
  cursor: pointer;
  width: 90%;
  
  transition: all 0.3s ease;
}
.layer2-card-out {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 100%;
  flex: 1;
  transition: all 0.3s ease;
}

.layer2-card-in.active {
  background-color: #f0f0f0;
}
.layer2-card-out.active {
  background-color: #f0f0f000;
  border: none;
  box-shadow: none;
  padding-bottom: 0px;
}

.layer3-content {
  /*position: absolute;*/
  width: 100%;
  overflow-y: auto;
  right: 0;
  top: 100%;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 10px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1;
}

.layer2-card-in h3 {
  margin-top: 0;
}

.layer2-card-in:hover {
  background-color: var(--light-bg-hover);
}
.layer2-card-in.active {
  background-color: #cec9c9;
}

.dark .layer2-card-in:hover {
  background-color: var(--dark-bg-hover);
  color: #000;
}
.dark .layer2-card-in.active {
  background-color: #f3b3b3;
  color: #000;
}
.dark .layer3-content {
  background-color: #f3b3b3;
  color: #000;
}
.dark .accordion-button{
  color: rgb(255, 255, 255);
}

.lessonContent{
  text-align: left;
  text-justify:inter-cluster;
}