/* layer1Card.css */
.layer1-card {
  border: 1px solid var(--softTextColor); 
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer; 
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.layer1-card:hover {
  background-color: #f0f0f0; /* Light hover color */
  color: #000; /* Ensure text color contrasts with hover background */
  animation-name: hoverAnimation;
  animation-duration: 0.5s;
}

.layer1-card strong {
  font-weight: bold;
  display: block; 
  margin-bottom: 5px;
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
