@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';
.container{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 100px; */
    height: 10vh;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 40;
    padding: 10px;
    margin-bottom: 10px;
    
    /* position: sticky;
    top: 0px;
    /*backdrop-filter: blur(10px); */
    
}

.social{
    display: flex;
    gap: 10px;
    flex: 1;
    position: relative;
    left: 30px;
}

.logo{
    flex: 1;
    color:var(--color);
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
    margin-left: 20px; /* Adjust margin as needed */
}

.dark #logo{
    filter: invert(1);
}
.light #logo{
    filter: invert(0);
}

.links{
    display: flex;
    align-items: end;
    gap: 10px;
    flex: 1;
    font-size: 15px;
    justify-content: flex-end; /* Align links to the right */
    margin-right: 40px; /* Adjust margin as needed */
}

.icon {
    border-radius: 50%;
}

.navLink{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--textColor); /* Blue color, you can change it to fit your design */
    color: var(--bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.navLink:hover {
    background-color: #da6060; /* Darker blue color on hover */
}

@media (max-width: 768px) {
    .container {
        /* flex-wrap: wrap; */
        justify-content: center;
        padding: 0px 50px 10px 50px; /* Adjust padding as needed */
        /* height: 160px; */
        flex-direction: row;
        width: 400px;
        align-items: center;
    }

    .logo {
        flex-basis: 100%;
        text-align: center;
        margin-left: 0;
    }

    .links {
        flex-basis: 100%;
        justify-content: center;
        margin-right: 0;
        /* margin-top: 10px; Adjust margin as needed */
    }
}
@media (max-width: 487px)
{
    .logo{
        font-size: 20px;
    }
}

.fancyTitle{
    
    background-image:  url('/ssscales\(3\).svg') ;
    
    background-repeat: repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    padding:0px;
    /* font-size: 170px; */
    animation: filling 8s infinite ease;

    /* text-shadow: 0px 0px 0px rgba(131, 131, 131, 0.155);  */
      
}
@keyframes filling {
    0%{
      background-position-x: left;
      background-position-y: top;
    }
    
    50%{
        background-position-x: right ;
        background-position-y: bottom;
    }
  }
  