@import 'tailwindcss/base';
@import 'tailwindcss/utilities';
@import 'tailwindcss/components';

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social{
    display: flex;
    gap: 10px;
    flex: 1;
}

.logo{
    flex: 1;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: var(--textColor);
}

.links{
    display: flex;
    align-items:end;
    gap: 10px;
    flex: 1;
    font-size: 15px;
}



.navLink{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--textColor); /* Blue color, you can change it to fit your design */
    color: var(--bg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


  .navLink:hover {
    background-color: #da6060; /* Darker blue color on hover */
  }
  
