.container{
    margin-top: 25px;
}

.in {
    width: 50%;
    padding: 10px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 25px;
    font-size: 14px;
    color: black;
}

.btn{
    width: auto;
    padding: 10px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-left: 5px;
    background-color: white;
}

.icon {
    width: 15px;
    font-size: 14px;
    
  }