@import url('non.geist');
.layer0-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Geist Variable';

  

}
#chapters-container:first-child{
  z-index: 0;
}

.layer0-card {
  /* border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-right: 20px;
  text-align: center; */

  cursor: pointer;
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: auto;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
  margin-bottom: 10px;
  align-items: flex-start;
  text-align: left;
  padding: 10px;
}


.layer0-card::before{
  position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #18181b;
    
}

.light .layer0-card:before{
  background: #e3e3ed;
}
.light .layer0-card{
  background: #e3e3ed;
}

.layer0-card:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  
}
.layer0-card:hover:after {
  transform: translateX(0.15rem)
}
.level-name {
  color: var(--color);
  /* padding: 0.65rem 0.25rem 0.4rem 1.25rem; */
  /* font-weight: 500; */
  /* font-size: 1.1rem; */
  transition: transform 300ms ease;
  z-index: 5;
}
.layer0-card:hover .level-name {
  transform: translateX(0.15rem)
}

.level-content {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.layer0-card:hover .level-content {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.layer0-card:hover .notiglow {
  opacity: 0.1
}

.layer0-card:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}






#chapters-container{
  position: fixed;
  background-color:rgb(255, 255, 255);
  top: 0px;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  width: 100%;
  border-radius: 7px;
  z-index: 10;
}
.dark #chapters-container{
  background-color: #0f172a;
}

.layer0-card:last-child {
  margin-right: 0;
}

/* .layer0-card:hover {
  background-color: #aaaaaa;
} */

.level-name {
  /* font-weight: bold; */
  font-size: 20px;
  font-weight: 500;
}

.level-content {
  margin-top: 10px;
}

.layer0-card:hover {
  /* from app.css root */
  /* background-color: var(--light-bg-hover); */
}


.dark .layer0-card:hover {
  /* background-color: var(--dark-bg-hover); */
  color: #000;
}

.review-card{
  cursor:auto;
  --gradient: linear-gradient(to bottom, #51a7ed, #8729f9, #e859a5);
}


/* media Query  */

@media only screen and (max-width: 767px) {
  .layer0-card {
    flex: 0 0 calc(60% - 20px);
    max-width: calc(60% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .layer0-card {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }

}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      rgb(43, 116, 217) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}



/* backward arrow animation  */

.arrow-button-one:hover{
  animation: backward-bounce 1s infinite;
}



@keyframes backward-bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}








