@import url('non.geist');
.layer0-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Geist Variable';
}
#chapters-container:first-child{
  z-index: 0;
}

.layer0-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-right: 20px;
  text-align: center;
}

#chapters-container{
  position: fixed;
  background-color:rgb(255, 255, 255);
  top: 0px;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  width: 100%;
  border-radius: 7px;
}
.dark #chapters-container{
  background-color: #0f172a;
}

.layer0-card:last-child {
  margin-right: 0;
}

/* .layer0-card:hover {
  background-color: #aaaaaa;
} */

.level-name {
  /* font-weight: bold; */
  font-size: 20px;
  font-weight: 500;
}

.level-content {
  margin-top: 10px;
}

.layer0-card:hover {
  /* from app.css root */
  background-color: var(--light-bg-hover);
}


.dark .layer0-card:hover {
  background-color: var(--dark-bg-hover);
  color: #000;
}


/* media Query  */

@media only screen and (max-width: 767px) {
  .layer0-card {
    flex: 0 0 calc(60% - 20px);
    max-width: calc(60% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  .layer0-card {
    flex: 0 0 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }

}