.layer0-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.layer0-card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-right: 20px;
  text-align: center;
}

.layer0-card:last-child {
  margin-right: 0;
}

/* .layer0-card:hover {
  background-color: #aaaaaa;
} */

.level-name {
  font-weight: bold;
}

.level-content {
  margin-top: 10px;
}

.layer0-card:hover {
  /* from app.css root */
  background-color: var(--light-bg-hover);
}


.dark .layer0-card:hover {
  background-color: var(--dark-bg-hover);
  color: #000;
}